<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hzh.common.mapper.HzhUserMapper">


    <select id="selectByFilter" resultType="com.hzh.common.pojo.HzhUser">
        SELECT
        *
        FROM
        hzh_user
        <where>
            1 = 1
            <if test="id != null  and id != '' ">
                AND id = #{id}
            </if>
            <if test="userName !=null  and userName != '' ">
                AND user_name = #{userName}
            </if>
            <if test="password !=null  and password != '' ">
                AND password = #{password}
            </if>
            <if test="userDescription !=null  and userDescription != '' ">
                AND user_description = #{userDescription}
            </if>
            <if test="status !=null  and status != '' ">
                AND status = #{status}
            </if>
            <if test="email !=null  and email != '' ">
                AND email = #{email}
            </if>
            <if test="phonenumber !=null  and phonenumber != '' ">
                AND phonenumber = #{phonenumber}
            </if>
            <if test="sex !=null  and sex != '' ">
                AND sex = #{sex}
            </if>
            <if test="avatar !=null  and avatar != '' ">
                AND avatar = #{avatar}
            </if>
            <if test="userType !=null  and userType != '' ">
                AND user_type = #{userType}
            </if>
            <if test="createTime !=null  and createTime != '' ">
                AND create_Time = #{createTime}
            </if>
            <if test="updateBy !=null  and updateBy != '' ">
                AND update_by = #{updateBy}
            </if>
            <if test="updateTime !=null  and updateTime != '' ">
                AND update_time = #{updateTime}
            </if>
            <if test="delFlag !=null  and delFlag != '' ">
                AND del_flag = #{delFlag}
            </if>
        </where>
    </select>


    <select id="selectOneByFilter" resultType="com.hzh.common.pojo.vo.LoginBean">
        SELECT
        *
        FROM
        hzh_user
        <where>
            1 = 1
                AND user_name = #{userName}
                AND email = #{email}
                AND phonenumber = #{phonenumber}
        </where>
    </select>

    <select id="selectOneByPhone" resultType="com.hzh.common.pojo.vo.LoginBean">
        SELECT * FROM hzh_user
        <where>
            1 = 1
            AND phonenumber = #{phonenumber}
        </where>
    </select>

    <select id="selectOneByEmail" resultType="com.hzh.common.pojo.vo.LoginBean">
        SELECT * FROM hzh_user
        <where>
            1 = 1
            AND email = #{email}
        </where>
    </select>


    <select id="selectOneByUserName" resultType="com.hzh.common.pojo.HzhUser">
        SELECT * FROM hzh_user
        <where>
            1 = 1
            AND user_name = #{userName} OR email = #{userName} OR phonenumber = #{userName}
        </where>
    </select>

    <update id="updatePasswordByEmail">
        UPDATE hzh_user set password = #{password} where email = #{email}
    </update>

    <update id="updateStateById">
        UPDATE hzh_user set status = #{status} , update_time = #{updateDate}
        where id = #{id}
    </update>

    <update id="delUserById">
        UPDATE hzh_user set del_flag = #{delFlag} , update_time = #{updateDate}
        where id = #{id}
    </update>

<!--    <update id="delUserById">-->
<!--        UPDATE hzh_user set update_time = #{updateDate} AND password = #{encode}-->
<!--        where id = #{id}-->
<!--    </update>-->

    <select id="selectListByFilter" parameterType="com.hzh.common.pojo.HzhUser" resultType="com.hzh.common.pojo.HzhUser">
        SELECT id,user_name,user_description,
               status,email,phonenumber,sex,avatar,
               level,user_type,create_time,update_by,
               update_time,del_flag
        FROM hzh_user WHERE
                (del_flag = "0")
                OR user_name like #{%hzhUser.userName%}
                OR email = #{hzhUser.email}
                OR phonenumber = #{hzhUser.phonenumber}
                OR user_type = #{hzhUser.userType}
                OR status = #{hzhUser.status}
        LIMIT 1,10
    </select>


</mapper>
